certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
elasticsearch==7.14.1
idna==3.2
joblib==1.0.1
langdetect==1.0.9
nltk==3.6.2
python-dotenv==0.19.0
regex==2021.8.28
requests==2.26.0
six==1.16.0
tqdm==4.62.2
Unidecode==1.2.0
urllib3==1.26.6
